
<h1>Cadastrar novo Estudante</h1>
<p>Preencha os dados abaixo e clique em <b>Salvar Estudante</b></p>
<br>

<form action="/home" method="GET">
    <div>
        <label for="nome">nome:</label>
        <input type="text" id="nome" name="usuario_nome" />
    </div>
    <div>
        <label for="matricula">matrícula:</label>
        <input type="txt" id="matricula" name="matricula" />
    </div>
    <div>
        <label for="serie">Série:</label>
        <textarea id="serie" name="serie"></textarea>
    </div>
    <div>
        <label for="turma">Turma:</label>
        <textarea id="turma" name="turma"></textarea>
    </div>

    <div class="button">
        <button type="submit">Salvar Estudante</button>
    </div>
</form>