    <!DOCTYPE html>
    <html lang="pt-br">
      <head>
        <title>Página principal</title>
        <meta charset="utf-8">
      </head>
      <body>
       <h1>Home - Página principal</h1>
       <h3>Tabela - listagem de conteúdo</h3>
       <br>

      <a href="/">Voltar á página inicial</a>

      <table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Matrícula</th>
        <th>Série</th>
        <th>Turma</th>
        <th>Ações</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Antônio</td>
        <td>12345</td>
        <td>1</td>
        <td>A</td>
        <td>
          | <a href="#">+detalhes</a>  
          | <a href="#">+Alterár</a> 
          | <a href="#">+Excluir</a> 
        <td>
        
    </tr>
    <tr>
        <td>2</td>
        <td>Maria</td>
        <td>43214</td>
        <td>2</td>
        <td>2</td>
        <td>
          | <a href="#">+detalhes</a>  
          | <a href="#">+Alterár</a> 
          | <a href="#">+Excluir</a> 
        <td>
    </tr>
    <tr>
        <td>3</td>
        <td>Hlda</td>
        <td>85216</td>
        <td>1</td>
        <td>A</td>
        <td>
          | <a href="#">+detalhes</a>  
          | <a href="#">+Alterár</a> 
          | <a href="#">+Excluir</a> 
        <td>
    </tr>
    <tr>
        <td>4</td>
        <td>Jeane</td>
        <td>47952</td>
        <td>3</td>
        <td>B</td>
        <td>
          | <a href="#">+detalhes</a>  
          | <a href="#">+Alterár</a> 
          | <a href="#">+Excluir</a> 
        <td>
    </tr>
</table>
<br>
<a href="/form">Adicionar novo Estudante</a>
<br>


      </body>
    </html>